.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 5px solid #e74c3c; /* Changed color for a better look */
    border-radius: 8px; /* Rounded corners for a softer look */
    background-color: #f9f9f9; /* Light background color */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.label-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Slightly smaller font size for better readability */
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
textarea,
select {
    width: 600px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; /* Rounded corners for form controls */
}

textarea {
    resize: vertical; /* Allow vertical resizing only */
}

.radio-group label,
.checkbox-group label {
    display: inline-block;
    margin-right: 15px;
}

.button-group {
    text-align: center;
}

button {
    background-color: #4cb04f;
    color: white;
    border: none;
    padding: 17.5px 80px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button[type="reset"] {
    background-color: #4cb04f; /* Different color for reset button */
}

button:hover {
    opacity: 0.9; /* Slightly darker on hover */
}
